@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
          <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle fas fa-tools" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Herramienta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbarAdmin">            
            <a class="nav-link text-dark" asp-controller="Paisajes" asp-action="Index">Ver paisajes</a>          
            <a class="nav-link text-dark" asp-controller="Ciudades" asp-action="Index">Ver ciudad</a>          
            <a class="nav-link text-dark" asp-controller="Paises" asp-action="Index">Ver paises</a>           
            <a class="nav-link text-dark" asp-controller="Provincias" asp-action="Index">Ver provincia</a>
        </div>
      </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark fas fa-power-off">Cerrar session</button>
        </form>
    </li>
}
else
{
    @* <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li> *@
    <li class="nav-item">
        <a class="nav-link text-dark fas fa-user" asp-area="Identity" asp-page="/Account/Login">Administrador</a>
    </li>
}
</ul>
